.bodyBanner img{
    height: 320px;
    width: 95%;
    /* margin-left: 240px; */
    border-radius: 5px;
    display: flex;
}
@media only screen and (max-width: 600px){
    .bodyBanner{
        margin-top: 0.5rem;
        width: 85%;
        margin-left: -3vw;
    }
    .bodyBanner img{
        width: 100vw;
        margin-left: -15vw;

    }
}