.stories-block img{
    width: 60%;
    height: 85px;
    border: 3px dashed rgb(22, 157, 211);
    border-radius: 50%;
}
.stories-block{
    display: flex;
    background-color: #dfe1ec;
    height: 120px;
    width: 60%;
    align-items: center;
    border-radius: 10px;
    margin-left: 15%;
}
.stories{ 
    display: flex;
    justify-content: space-around;

}
.stories .stories-text{
    margin-left: -150px;
    margin-top: 84px;
}
@media (max-width:600px){
    .stories-block img{
        width: 65%;
        height: 55px;
        border: 3px dashed rgb(22, 157, 211);
        border-radius: 50%;
    }
    .stories-block{
        display: flex;
        background-color: #DFE1EC;
        height: 120px;
        width: 100%;
        align-items: center;
        border-radius: 10px;
        margin-left: 0%;
    }
    .stories{ 
        display: flex;
        justify-content: space-around;
    }
    .stories .stories-text{
        margin-left: -110px;
        margin-top: 52px;
    }
    }
