.trending_container{
    border-top: 2px solid #f5dbdb;
    border-bottom: 2px solid #f5dbdb;
    padding: 5px 0;
    width: 60%;
    margin-left: 15%;
}
.trending_elems{
    display:flex;
    padding: 5px 0px 10px 0;
    justify-content: space-evenly;
}
.trending-img{
    /* margin-left: 10px; */
}
.trending-img img{
    border-radius: 10px;
    width: 95%;
    height: 90%;
}
.trending_container h3{
    margin-left: 22px;
}